html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
}